#elemento-pai{
    width: 1000px;
    height: 700px;
    background-color: #ccc;
    position: relative;   
}

.posabsoluta{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    height: 500px;
}

.fundobranco {
    background-color: white;
    margin-left: 30px;
    width: 450px;
    height: 600px;
}

.foto{
    width: 450px;
    height: 490px;
    margin-top: 100px;
    margin-left: 30px;
}

.topocinza{
    background-color: #ccc;
    margin-top:20px;
    margin-left: 55px;
    height: 70px;
    width: 400px;
}

.titulo{
    font-size: 17px;
    margin-top: 45px;
    margin-left: 210px;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 520px;
    display: flex;
    text-align: justify;
}
